.rows{
    margin-left: 30px;
    padding: 20px;
    overflow: hidden;
  margin-top: -10px;
  z-index: 2;
}

.movie_row{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
 
}
.movie_row::-webkit-scrollbar{
  
   display: none;
}
.row_image{
    max-height: 100px;
    margin-right: 10px;
    object-fit: contain;
    transition: transform 0.4s;
    width: 100%;
 
}
.row_image:hover{
  transform: scale(1.1);
    opacity: 1;
}
.row_image_large{
    max-height: 250px;
}