.banner{
    height: 500px;
   object-fit: contain;
   color: white;
   position: relative;
   width: 100%;
   z-index: 1;
}
.banner_contents{
   padding-top: 180px;
  padding-left: 30px;
 font-weight: bold;
 max-width: 500px;
 
}
.banner_contents>h1{
    font-size: 2rem;
    margin-bottom: 10px;
}
.banner_button{
    width: 8.3rem;
    margin-right: 10px;
    background-color: rgba(51,51,51, 0.5);
    border: none;
    padding: 8px 0px;
    outline: none;
    border-radius: 2px;
    transition-timing-function: 0.5s;
    transition: all;
    cursor: pointer;
    color: #e6e6e6;
}
.banner_button:hover{
    background-color: #e6e6e6;
    color: black;

}
.banner_desc{
    margin-top: 10px;
}
.fade_button{
    width: 100%;
    position: absolute;
  
   height:8.3rem;
   background-image: linear-gradient(180deg, rgba(31,31,31, 0.2), #111);
   margin-top: 20px;
   bottom: 0;
}